html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: Ubuntu;
}

.michis-logo {
  width: 210px;
  height: auto;
  image-rendering: auto;
}

.footer {
  background: rgb(36, 36, 36);
  border-top: 6px rgb(0, 191, 255) solid;
  height: auto;
  color: white;
}

.reserved-rights {
  font-size: 0.6em;
}

.profile-menu-img img {
  width: 40%;
  padding: 5px;
  margin-top: 10px;
}

.profile-menu-card :hover {
  background-color: rgb(225, 236, 255);
}

.cat-gallery {
  background: rgba(255, 255, 255, 0.8);
}

.home-container {
  background-image: url("./assets/img/cat_bg_pattern.png");
  background-repeat: repeat;
}

.cat-card-container {
  border-top: 3px solid #009ee2;
  border-bottom: 3px solid #a2a2a2;
}

.chewy-font {
  font-family: "Chewy";
}

.cat-gallery-title {
  font-size: 3.2em;
}
.welcome-box {
  padding: 50px;
}
